/* CSS Styles */

/* CSS Reset
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
*/

h1 {
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: normal;
	color: #EEF6FC;
}